.signup_wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.signup_card {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  border: 1px solid #888;
  width: 100%;
  max-width: 500px;
}
.signup_card .card_header h1 {
  font-size: 3rem;
  color: #444;
  font-weight: 400;
}
.signup_card .card_header p {
  font-size: 1rem;
  font-weight: 400;
  color: #777;
}
.signup_card .card_header {
  padding-bottom: 2rem;
}

.signup_card .card_body .input_group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.signup_card .card_body .input_group label {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #777;
}
.signup_card .card_body .input_group input {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  color: #333;
  border: 1px solid #888;
  border-radius: 3px;
  width: 100%;
}
.signup_card .card_body .input_group input:focus {
  border-color: #f36c25;
  outline: none;
}
.signup_card .card_body .input_group_agree {
  display: flex;
  align-items: center;
  color: #777;
  font-weight: 600;
  padding: 1rem 0;
}
.signup_card .card_body .input_group_agree input {
  margin-right: 0.5rem;
}
.forgot_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.signup_card a {
  color: #f36c25;
  font-weight: 500;
  text-decoration: none;
}
.signup_card button {
  font-weight: 500;
  color: #fff;
  background: #ffa371;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: 0.4s linear;
}
.signup_card button:hover {
  background: #f36c25;
}
.signup_card .not_member {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
.register_with_social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 2.5rem;
  border-top: 1px solid #555;
  margin-top: 2rem;
}
.register_with_social .or {
  position: absolute;
  top: -2rem;
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.register_with_social button{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.2rem;
}
.register_with_social button span{
    font-size: 1rem;
}
.register_with_social .facebook {
  background: #1877f2;
}
.register_with_social .google {
  background: #dd4b39;
}
.register_with_social .facebook:hover{
    background: #185099;
}
.register_with_social .google:hover{
    background: #9c3022;
}